body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #C5C6C7;
}

/* 
  Main Theme Colors
  
   midnight #0B0C10
   dark     #1F2833
   grey     #C5C6C7
   cyan     #66FCF1
   teal     #45A29E
*/

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}