body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #C5C6C7;
}

/* 
  Main Theme Colors
  
   midnight #0B0C10
   dark     #1F2833
   grey     #C5C6C7
   cyan     #66FCF1
   teal     #45A29E
*/